<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VeterinerApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">VeterinerApp</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" >VeterinerAPP</a>
            </li>
        </ul>
    </div>
</nav>

<div class = "container">
    <div class = "row">
        <h1>List Animals </h1>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Person Name</th>
            <th> Person Surname</th>
            <th> Person Address</th>
            <th> Person Phone</th>
            <th>Person Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "animal: ${animals}">
            <td th:text = "${animal.name}">  </td>
            <td th:text = "${animal.strain}">  </td>
            <td th:text = "${animal.breed}">  </td>
            <td th:text = "${animal.date_of_birth}">  </td>
            <td th:text = "${animal.description}">  </td>
            <td>
                <a th:href="@{/animal/update/{id}(id=${animal.id})}" class = "btn btn-info">Update</a>
            </td>


        </tr>
        </tbody>

    </table>
</div>



</body>
</html>