<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Person </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">VeterinerApp</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/person}">VeterinerApp</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = row>
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class =" text-center"> Create New Person</h1>
            <div class="card-body">
                 <form th:action="@{/animal/{id} (id=${animal.id})}"  method="POST">
                    <div class="form-group">
                        <label> Animal Name </label>
                        <input type="text"  name="name"  th:field="*{animal.name}" class ="form-control" placeholder ="Enter your Name" />
                    </div>

                    <div class="form-group">
                        <label> Strain </label>
                        <input type="text"  name="surname"  th:field= "*{animal.strain}" class ="form-control" placeholder ="Enter your surname" />
                    </div>

                    <div class="form-group">
                        <label> Breed</label>
                        <input type="text"  name="address"  th:field="*{animal.breed}" class ="form-control" placeholder ="Enter your Address" />
                    </div>

                    <div class="form-group">
                        <label> Date of birth </label>
                        <input type="date"  name="phone"  th:field="*{animal.date_of_birth}" class ="form-control" placeholder ="Enter your phone" />
                    </div>

                    <div class="form-group">
                        <label> Description</label>
                        <input type="text"  name="email"  th:field="*{animal.description}" class ="form-control" placeholder ="Enter your email" />
                    </div>

                    <div class="form-group">
                        <label> Person</label>
                        <select  name="person_id" class="form-control">
                            <option  th:each="person : ${persons}" th:value="${person.id}" th:text="${person.email}" th:selected="${animal.person} == ${person} ? true : false" }  ></option>
                        </select>
                    </div>

                    <div class="box-footer" >
                        <button type="submit" class = "btn btn-primary"> Submit </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>